[bumpversion]
current_version = 0.7.4
commit = True
tag = True
tag_name = v{new_version}
message = Bump version to {new_version}
tag_message = Version {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
